
<div class="container mx-auto p-4"> 

  <mat-card class="bg-blue-100 p-6 max-w-xl w-full mx-auto shadow-lg rounded-lg" appearance="outlined">
    <!-- Título -->
    <mat-card-title class="text-xl font-bold text-blue-800 text-center mb-6">Buscar Pessoa</mat-card-title>
  
    <!-- Formulário -->
    <form [formGroup]="searchParams" (ngSubmit)="onSubmit()" class="">
      <!-- Campo Nome -->
      <div class="grid grid-cols-1">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label class="text-gray-700">Nome</mat-label>
          <input matInput type="search" formControlName="nome" placeholder="Digite o nome" class="text-gray-800" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            *ngIf="formControls.nome.value"
            (click)="formControls.nome.setValue('')"
            class="text-gray-500 hover:text-gray-700"
          >
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
  
      <!-- Sexo e Status -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <!-- Sexo -->
        <div class="flex flex-col items-center">
          <label class="text-gray-700 font-semibold mb-2">Sexo</label>
          <mat-radio-group formControlName="sexo" class="flex flex-row space-x-4">
            <mat-radio-button value="MASCULINO" class="text-gray-800">Masculino</mat-radio-button>
            <mat-radio-button value="FEMININO" class="text-gray-800">Feminino</mat-radio-button>
          </mat-radio-group>
        </div>
  
        <!-- Status -->
        <div class="flex flex-col items-center">
          <label class="text-gray-700 font-semibold mb-2">Status</label>
          <mat-radio-group formControlName="status" class="flex flex-row space-x-4">
            <mat-radio-button value="DESAPARECIDO" class="text-gray-800">Desaparecido</mat-radio-button>
            <mat-radio-button value="LOCALIZADO" class="text-gray-800">Localizado</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
  
      <!-- Botões -->
      <div class="flex justify-center space-x-4 mt-6">
        <button
          mat-flat-button
          class="bg-yellow-400 hover:bg-yellow-500 text-white font-semibold w-32 h-12 rounded-lg transition-colors"
          type="button"
          (click)="clear()"
        >
          LIMPAR
        </button>
        <button
          mat-flat-button
          class="bg-blue-600 hover:bg-blue-700 text-white font-semibold w-32 h-12 rounded-lg transition-colors"
          type="submit"
        >
          BUSCAR
        </button>
      </div>
    </form>
  </mat-card>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 pt-6">
  <app-pessoa-card [status]="status" *ngFor="let pessoa of pessoas" [pessoa]="pessoa"></app-pessoa-card>
</div>


  <div class="flex justify-evenly mt-4">
    <button (click)="prevPage()" [disabled]="apiParams.pagina === 0" class="p-2 bg-gray-300 rounded disabled:opacity-50">Anterior</button>
    <button (click)="nextPage()" [disabled]="totalPage == apiParams.pagina" class="p-2 bg-gray-300 rounded">Próximo</button>
  </div>
</div>