<div class="w-full flex flex-col h-full">
  <!-- Status -->
  <div [ngClass]="{
    'bg-green-700 rounded-t': status === 'LOCALIZADO',
    'bg-red-700 rounded-t': status === 'DESAPARECIDO'
  }">
    <p class="text-white text-lg font-bold text-center py-2">
      {{ status === 'DESAPARECIDO' ? 'Desaparecido' : 'Localizado' }}
    </p>
  </div>

  <!-- Conteúdo do Card -->
  <div [routerLink]="['/pessoa', pessoa.id]" class="border border-t-0 rounded-b shadow hover:bg-gray-100 cursor-pointer flex flex-col h-full">
    <img [src]="PessoaSemFoto()" (error)="updateUrlError()" alt="Foto" class="w-full h-40 object-cover">
    <hr class="w-11/12 h-[2px] self-center bg-gray-100 border-0 rounded-sm my-2 dark:bg-gray-700">
    <div class="p-2 flex flex-col flex-grow">
      <h3 class=" text-gray-700 text-lg font-semibold truncate">{{ pessoa.nome }}</h3>
      <p class=" text-gray-600 text-[12px] font-semibold">Sexo: {{ pessoa.sexo }}</p>
      <p class=" text-gray-600 text-[12px] font-semibold">Idade: {{ pessoa.idade }}</p>
    </div>
  </div>
</div>